.headBox {
width: 6.25rem;
height: 9.38rem;
margin-bottom: .3rem;
}

.bodyBox {
width: 7.5rem;
height: 12.5rem;
}


.armBox {
width: 2.5rem;
height: 11.25rem;
margin-top: 0.125rem;
}

.legBox {
width: 2.8rem;
height: 13.75rem;
}

.ml {
margin-left: 1rem;
}

.mr {
margin-right: 1rem;
}
