.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contenedor {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.extSup {
display: flex;
}

.extInf {
display: flex;
justify-content: center;
}

.headBox {
width: 100px;
height: 150px;
margin-bottom: 5px;

}

.bodyBox {
width: 120px;
height: 200px;
}


.armBox {
width: 40px;
height: 180px;
margin-top: 2px;
}

.legBox {
width: 45px;
height: 220px;
}

.ml {
margin-left: 15px;
}

.mr {
margin-right: 15px;
}
